&__bottom {
  @include d-flex(column, flex-start);
  width: 100%;
  &--title {
    @include d-flex(row);
    align-items: center;
    margin-bottom: 20px;
    @include icon-container;
    .icon {
      width: 50px;
      height: 50px;
    }
    p {
      @include font-customizer(700, #fff);
      line-height: 0.5;
    }
  }

  &--form {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background: rgba(196, 196, 196, 0.05);
    padding: 60px 40px 50px;
    @include d-flex(row, space-between);
    .form--container {
      @include d-flex(row, space-between);
      gap: 50px;
      .bottom__form--item {
        @include d-flex(row);
        align-items: center;
        gap: 10px;
        @include icon-container;
        .icon {
          width: 50px;
          height: 50px;
        }
        label {
          display: block;
          @include font-customizer(600, $light-gray);
        }
        .answer {
          @include font-customizer(700, #fff);
        }
      }
    }
    .btn {
      background-color: $primary-blue;
      @include font-customizer(700, #fff);
      line-height: 0.5;
    }
  }
}
