.banner {
  @include d-flex(row, space-between);
  padding-top: 110px;
  @media screen and (max-width: 1024px) {
    @include d-flex(column);
  }
  &__left {
    @include d-flex(column, flex-start);
    flex-basis: 45%;
    gap: 70px;

    @media screen and (max-width: 1024px) {
      max-width: 505px;
      gap: 30px;
      padding-bottom: 55px;
    }
    &--texts {
      @include d-flex(column, flex-start);
      gap: 40px;
      .texts__top {
        @include font-customizer(700, $primary-blue);
        white-space: nowrap;
        @media screen and (max-width: 1024px) {
          font-size: 18px;
        }
        @include mobile-font(12px);
      }
      .texts__title {
        @include font-customizer(700, #fff);
        font-size: 48px;
        .light-blue {
          color: $primary-blue;
          font-size: 48px;
          display: block;
          @include mobile-font(24px);
        }
        @media screen and (max-width: 1024px) {
          font-size: 36px;
        }
        @include mobile-font(24px);
      }
      .texts__bottom {
        @include font-customizer(700, $darker-gray);
        @media screen and (max-width: 1024px) {
          font-size: 20px;
        }
        @include mobile-font(14px);
      }
    }
    &--buttons {
      display: flex;
      gap: 5%;
      .btn {
        border: 2px solid #17c2ec;
        background: rgba(196, 196, 196, 0.1);
        @include font-customizer(700, #fff);
        line-height: 0.5;
        @media screen and (max-width: 1024px) {
          font-size: 20px;
        }
        @include mobile-font(14px);
      }
      .active {
        background-color: $primary-blue;
      }
    }
  }
  &__right {
    flex-basis: 45%;
    position: relative;
    padding: 0 40px;
    width: 613px;
    @media screen and (max-width: 575px) {
      padding: 0;
      max-width: 256px;
    }
    &--images {
      position: relative;
      .main--img {
        @media screen and (max-width: 575px) {
          width: 256px;
          height: 274px;
        }
      }
      @mixin side-image {
        background-color: #fff;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        @media screen and (max-width: 575px) {
          width: 50px;
          height: 50px;
        }
      }
      .left__side--images {
        @include side-image;
        @include center-vertically;
        left: -20px;
        img {
          @include center-element;
          @media screen and (max-width: 575px) {
            width: 40px;
            height: 32px;
          }
        }
      }

      .right__side--images {
        @include side-image;
        @include center-vertically;
        right: -20px;
        img {
          @include center-element;
          @media screen and (max-width: 575px) {
            width: 40px;
            height: 32px;
          }
        }
      }
    }

    &--specialists {
      @include d-flex(row);
      gap: 20px;
      max-width: 80%;
      position: relative;
      left: -50px;
      bottom: 60px;
      padding: 20px;
      border-radius: 20px;
      background: rgba(196, 196, 196, 0.2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      .specialists--text {
        @include font-customizer(700, #fff);
        @include mobile-font(14px);
        .light-blue {
          color: $primary-blue;
          display: block;
          @include mobile-font(14px);
        }
      }
      .specialists--images {
        img {
          @media screen and (max-width: 575px) {
            width: 38px;
            height: 38px;
          }
        }
      }
    }
  }

  @import "banner-form";
}
