.feedbacks {
  background: #cecfcf;
  .feedback {
    padding-top: 60px;
    @include d-flex(column);
    &__texts {
      text-align: center;
      &--top {
        @include font-customizer(700, $primary-blue);
        @include tablet-font(20px);
      }
      &--title {
        @include font-customizer(800, #000);
        font-size: 48px;
        @include tablet-font(36px);
      }
      &--dscrip {
        @include font-customizer(500, $light-gray);
        @media screen and (max-width: 1024px) {
          font-size: 18px;
          max-width: 585px;
          margin: 0 auto;
        }
      }
    }
    &__main {
      @include d-flex(row, space-between);
      @media screen and (max-width: 1024px) {
        @include d-flex(column);
        padding-bottom: 100px;
      }
      &--item {
        position: relative;
        flex-basis: 31%;
        @media screen and (max-width: 1024px) {
          padding-left: 30%;
        }
        .vaccine_bg {
          @media screen and (max-width: 1024px) {
            height: 283px;
          }
        }
        .review {
          min-height: 323px;
          border-radius: 20px;
          background: rgba(196, 196, 196, 0.5);
          @include d-flex(column);
          @include center-vertically;
          @media screen and (max-width: 1024px) {
            max-width: 400px;
            min-height: 250px;
            margin-left: -80px;
          }
          &__profile {
            @include d-flex(row);
            gap: 10px;
            align-items: flex-end;
            padding: 30px;
            padding-right: 0;
            p {
              @include font-customizer(700);
              @include tablet-font(20px);
              padding-bottom: 5px;
              .location {
                display: block;
                @include font-customizer(700, $darker-gray);
                font-size: 14px;
              }
            }
          }
          &__message {
            @include font-customizer(500, rgba(0, 0, 0, 0.6));
            padding: 30px;
            font-size: 18px;
            @include tablet-font(14px);
            .light-blue {
              color: $primary-blue;
              font-size: 18px;
              @include tablet-font(14px);
            }
          }
          &.active {
            background: $primary-blue;
            &__profile {
              p {
                color: #fff;
                .location {
                  color: $darker-gray;
                }
              }
            }
            &__message {
              color: $darker-gray;
            }
          }
        }
      }
    }
  }
}
