.footers {
  background-image: url("/assets/images/footer/background.svg");
  .footer {
    position: relative;
    &__quote {
      @include center-horizontally;
      top: -200px;
      border-radius: 50px;
      background: #17c2ec;
      width: 80%;
      max-width: 900px;
      text-align: center;
      @include d-flex(column, space-between);
      @media screen and (max-width: 1024px) {
        top: -80px;
      }
      .title {
        @include font-customizer(700);
        font-size: 48px;
        padding-top: 70px;
        @media screen and (max-width: 1024px) {
          padding-top: 16px;
          font-size: 36px;
        }
        @include mobile-font(18px);
      }
      .quote {
        label {
          @include font-customizer(500);
          display: block;
          padding-top: 40px;
          @media screen and (max-width: 1024px) {
            font-size: 20px;
            padding-top: 20px;
          }
          @include mobile-font(10px);
        }
        .form__container {
          @include d-flex(row, center);
          padding: 40px 0 70px;
          @media screen and (max-width: 1024px) {
            padding: 25px 0 56px;
          }
          input {
            border-radius: 30px 0px 0px 30px;
            border: none;
            background: #fff;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
            padding: 28.5px 40px;
            outline: none;
            @include font-customizer(700, #000);
            @media screen and (max-width: 1024px) {
              font-size: 20px;
              height: 75px;
            }
            @include mobile-font(10px);
            &::placeholder {
              @include font-customizer(500, rgba(0, 0, 0, 0.25));
              font-size: 20px;
              @include mobile-font(10px);
            }
          }
          .send__btn {
            border-radius: 0px 30px 30px 0px;
            border: none;
            background: #0b153c;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
            img {
              padding: 0 40px;
            }
          }
        }
      }
    }
    &__bottom {
      position: absolute;
      top: 200px;
      @media screen and (max-width: 1024px) {
        top: 100px;
      }
      @include d-flex(row);
      flex-wrap: nowrap;
      gap: 7%;
      align-items: center;
      width: 100%;
      padding: 135px 0;
      @media screen and (max-width: 1024px) {
        @include d-flex(column);
        gap: 40px;
        align-items: flex-start;
      }
      .logo__container {
        flex-basis: 20%;
        .logo {
          position: relative;
          @include font-customizer(700, #fff);
          font-size: 32px;
          @include tablet-font(26px);
          @include mobile-font(18px);
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 40%;
            background-color: $primary-blue;
          }
        }
      }
      nav {
        flex-basis: 40%;
        .footer__nav {
          @include d-flex(row, space-between);
          flex-wrap: nowrap;
          @media screen and (max-width: 1024px) {
            gap: 25px;
          }
          &--item {
            @include font-customizer(500, $light-gray);
            @include tablet-font(20px);
            @include mobile-font(14px);
            &.active {
              @include font-customizer(700, #fff);
              @include tablet-font(20px);
              @include mobile-font(14px);
            }
          }
        }
      }
      .icons {
        flex-basis: 20%;
        @include d-flex(row, space-between);
        flex-wrap: nowrap;
        align-items: center;
        @media screen and (max-width: 1024px) {
          gap: 7px;
          img {
            height: 31.448px;
          }
        }
      }
    }
  }
}
