.head {
  background-color: #0b153c;
  .header {
    padding-top: 50px;
    background: transparent;
    @include d-flex(row, space-between);
    align-items: center;
    .logo-container {
      position: relative;
      display: inline-block;

      .logo {
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 40%;
          background-color: $primary-blue; // Set the desired color
        }
      }
    }
    nav {
      .header__nav {
        flex-basis: 60%;
        @include d-flex(row, space-between);
        gap: 25px;
        &--item {
          color: $light-gray;
        }
        .active {
          color: #fff;
          &::after {
            content: "";
            position: absolute;
            bottom: -5px; /* Adjust the distance from the text to the dot */
            left: 50%;
            transform: translateX(-50%);
            width: 10px; /* Adjust the size of the dot */
            height: 10px;
            background-color: blue;
            border-radius: 50%;
          }
        }
      }
    }
    .button__div {
      flex-basis: 20%;
      .btn {
        max-width: 90%;
        color: $primary-blue;
        font-weight: 700;
      }
    }
  }
}
