@mixin font-customizer($weight, $color: #fff) {
  font-weight: $weight;
  color: $color;
  line-height: normal;
}

@mixin d-flex($layout, $position: flex-start) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $layout;
  justify-content: $position;
}

@mixin center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-horizontally {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin icon-container {
  .icon {
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.1);
    position: relative;
    img {
      padding: 10px;
      @include center-element;
    }
  }
}
