.reason {
  padding-top: 60px;
  background-image: url("/assets/images/reason/background.svg");
  &__info {
    @include d-flex(row, space-between);
    @media screen and (max-width: 1024px) {
      gap: 40px;
    }
    &--title {
      @include font-customizer(700, #fff);
      max-width: 500px;
      font-size: 48px;
      @media screen and (max-width: 1024px) {
        font-size: 36px;
      }
      @include mobile-font(24px);
    }
    &--dscrip {
      @include font-customizer(400, $light-gray);
      font-size: 20px;
      max-width: 540px;
      @include mobile-font(14px);
    }
  }
  &__cards {
    @include d-flex(row, space-between);
    margin-bottom: 80px;
    padding-top: 40px;
    &--main {
      flex-basis: 33%;
      padding: 40px 40px;
      border-radius: 49.896px 149.688px 49.896px 49.896px;
      background: rgba(196, 196, 196, 0.2);
      @include d-flex(column);
      gap: 40px;

      @media screen and (max-width: 1024px) {
        flex-basis: 60%;
      }

      @include icon-container;
      .icon {
        width: 100px;
        height: 100px;
      }
      .reason__title {
        @include font-customizer(700, $primary-blue);
        @include mobile-font(14px);
      }
      .dscrip {
        @include font-customizer(500);
        font-size: 18px;
        @include mobile-font(12px);
      }
      a {
        .read-more {
          @include d-flex(row);
          @include font-customizer(700, $primary-blue);
          p {
            @include mobile-font(12px);
          }
          gap: 10px;
        }
      }
    }
    &--normal {
      flex-basis: 28%;
      min-height: 362px;
      padding: 40px 40px;
      border-radius: 50px;
      border: 3px solid rgba(255, 255, 255, 0.5);
      align-self: flex-end;
      @include d-flex(column, space-between);
      gap: 40px;

      @media screen and (max-width: 1024px) {
        flex-basis: 45%;
        margin-top: 40px;
      }

      @include icon-container;
      .icon {
        width: 70px;
        height: 70px;
      }
      .reason__title {
        @include font-customizer(700);
        @include mobile-font(14px);
      }
      a {
        .read-more {
          @include d-flex(row);
          @include font-customizer(700, $light-gray);
          p {
            @include mobile-font(14px);
          }
          gap: 10px;
        }
      }
    }
  }
}
