.registrations {
  background: #cecfcf;
  padding-bottom: 33px;
  .registration {
    @include d-flex(column, space-between);
    padding-top: 40px;
    &--title {
      @include font-customizer(700, #000);
      font-size: 48px;
      max-width: 460px;
      @include tablet-font(36px);
      @media screen and (max-width: 575px) {
        font-size: 24px;
        max-width: 230px;
      }
    }
    &__wrapper {
      @include d-flex(row, space-between);
      @media screen and (max-width: 1024px) {
        @include d-flex(column, space-between);
      }
      &--left {
        flex-basis: 50%;
        @include d-flex(column, space-between);
        @media screen and (max-width: 1024px) {
          flex-basis: 80%;
          order: 2;
        }

        .registration__left--form {
          padding-top: 40px;
          @include d-flex(column, space-between);
          gap: 40px;
          label {
            @include font-customizer(700, #000);
            @include mobile-font(14px);
          }
          input {
            border-radius: 20px;
            border: none;
            background: rgba(11, 21, 60, 0.15);
            padding: 20px 30px;
            &::placeholder {
              @include font-customizer(500, rgba(0, 0, 0, 0.25));
              @include mobile-font(14px);
            }
          }
          .number--dscrip {
            @include mobile-font(14px);
          }
          .number--verify {
            @include d-flex(row, space-between);
            max-height: 70px;
            .input-field {
              @media screen and (max-width: 1024px) {
                min-width: 70%;
              }
              input {
                width: 80%;
              }
            }
            .btn {
              min-width: 200px;
              max-height: 67px;
            }
          }
          button {
            background-color: $primary-blue;
            box-shadow: none;
            @include font-customizer(700);
            @include mobile-font(14px);
          }
        }
        .already-registered {
          padding-top: 40px;
          justify-self: center;
          @include d-flex(row, space-around);
          p {
            @include font-customizer(600, rgba(0, 0, 0, 0.5));
            font-size: 20px;
            @include mobile-font(14px);
          }
          a {
            @include font-customizer(600, $primary-blue);
            font-size: 20px;
            @include mobile-font(14px);
          }
        }
      }
      &--right {
        background: #0b153c;
        flex-basis: 30%;
        min-height: 550px;
        max-width: 380px;
        min-width: 378px;
        align-self: center;
        border-radius: 20px;
        position: relative;
        @media screen and (max-width: 1024px) {
          align-self: flex-start;
          margin-top: 65px;
        }
        @media screen and (max-width: 575px) {
          min-height: 416px;
          max-width: 285px;
        }
        &--title {
          @include font-customizer(700);
          padding-top: 40px;
          text-align: center;
          @include mobile-font(14px);
          span {
            display: block;
            @include mobile-font(14px);
          }
        }
        .corona {
          position: absolute;
          left: -25px;
          top: -25px;
          @media screen and (max-width: 575px) {
            width: 75px;
            height: 72px;
          }
        }
        .vaccine {
          @media screen and (max-width: 575px) {
            width: 285px;
            height: 365px;
          }
          position: absolute;
          bottom: 0;
        }
        .btn {
          @include font-customizer(700);
          font-size: 20px;
          position: absolute;
          @include mobile-font(14px);
          bottom: 75px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
